.product-card {
  width: 100%;
  height: 250PX;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 1px solid #2670fb;
  border-radius: 10px;
  overflow: hidden;

  &:hover {
    background-color:rgba(#2670fb, 0.5);
  }

  h3 {
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
  }

  p {
    color: #2670fb;
  }

  img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70%;
    background-size: cover;
    background-position: center;
  }
}
