@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

.header {
  padding: 10px;
  background-color: #2670fb;
  display: flex;
  justify-content: space-between;

  &__brand-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: 'Babylonica', cursive;
    color: #e6e6e6;
  }
}
